/* style.css */

* {
    padding: 10px;
    margin: 0px;
    font-size: 16px;
}

div {
    color: white;
    background-color: rgb(243, 240, 240);
}

p {
    color: red;
}

img {
    height: auto;
    width: 500px;
}

.header {
    padding: 60px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    background: lightblue;
    padding: 16px;
    border: 4px solid blue;
    gap: 8px;
    display: flex;
}

.flex-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    min-height: 25%;
  }
  
  .flex-container div {
    background: #C4C4C4;
    border: 4px solid gray;
    padding: 10px;
    margin: 10px;
    height: 100px;
    flex-direction: row;
    flex: 1;
  }